@import url('../../../assets/fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

.lifehack_banner{
    width: 81%;
    margin: auto;
    margin-bottom: 100px;
}

.lifehack_title{
    padding-top: 200px;
}

.lifehack_title h1{
    color:  #043480;
    font-size: 38px;
    font-family: 'TT Hazelnuts';
    font-weight: 900;
    letter-spacing: 0.2em;
    text-transform:uppercase;
}

.lifehack_title img{
    margin-top: 50px;
    width: 100%;
}


.lifehack_text{
    margin-top: 100px;
}

.lifehack_text h2{
    font-size: 22px;
    color: #043480;
    font-family: 'TT Hazelnuts';
    font-weight: 900;
    list-style-type:35px;
    text-transform: uppercase;
    position: relative;
}

.lifehack_text h2::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background: #89CDEA;
    border-radius: 100%;
    left: -40px;
    top: 3px;
}

.lifehack_text p{
    color: #043480;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    width: 70%;
}

.lifehack_text div{
    margin:60px 0;
}







.clean_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

.clean_twoButtons{
    display: flex;
}

.activeBtn{
    width: 142px;
    border-radius: 30px;
    height: 65px;
    background: rgba(137, 205, 234, 1);
    border:0;
    color: white;
    font-size: 20px;
    font-family: 'TT Hazelnuts';
    font-weight: 900;
    margin-right: 20px;
    letter-spacing: 0.2em;
}

.unActiveBtn{
    width: 64px;
    height: 64px;
    border:2px solid rgba(137, 205, 234, 1);
    background: none;
    border-radius: 100%;
    color: rgba(137, 205, 234, 1);
    font-weight: 900;
    font-family: 'TT Hazelnuts';
    font-size: 20px;

}


.clean_allArticle button{
    width: 209px;
    border-radius:110px;
    height: 75px;
    background: rgba(137, 205, 234, 1);
    border:0;
    color: white;
    font-size: 20px;
    font-family: 'TT Hazelnuts';
    font-weight: 900;
    margin-right: 18px;
    letter-spacing: 0.2em;
}





@media  (max-width:768px) {
    
.lifehack_banner{
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
}

    .lifehack_title{
        padding-top: 150px;
    }

    .lifehack_title h1{
        color:  #043480;
        font-size: 28px;
        font-family: 'TT Hazelnuts';
        font-weight: 900;
        letter-spacing: 0.2em;
        text-transform:uppercase;
    }

    

    .lifehack_text{
        margin-top: 30px;
    }

    .lifehack_text h2{
        font-size: 18px;
        color: #043480;
        font-family: 'TT Hazelnuts';
        font-weight: 900;
        list-style-type:35px;
        text-transform: uppercase;
        position: relative;
        transform: translateX(50px);
    }


    
    .lifehack_text p{
        color: #043480;
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 30px;
        font-weight: normal;
        width: 100%;
    }
    
    .lifehack_text{
        overflow-x: hidden;
    }

}









@media  (max-width:500px) {
    
    .lifehack_title h1{
        color:  #043480;
        font-size: 20px;
        font-family: 'TT Hazelnuts';
        font-weight: 900;
        letter-spacing: 0.2em;
        text-transform:uppercase;
    }

    .lifehack_title img{
        margin-top: 10px;
        width: 100%;
        height: 292px;
    }


    .lifehack_text{
        margin-top: 30px;
    }

    .lifehack_text h2{
        font-size: 12px;
        color: #043480;
        font-family: 'TT Hazelnuts';
        font-weight: 900;
        list-style-type:35px;
        text-transform: uppercase;
        position: relative;
    }


    .clean_buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        flex-direction: column;
        align-items: center;
    }
    .clean_twoButtons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .clean_allArticle button{
        width: 288px;
        border-radius:110px;
        height: 69px;
        background: rgba(137, 205, 234, 1);
        border:0;
        color: white;
        font-size: 16px;
        font-family: 'TT Hazelnuts';
        font-weight: 900;
        text-transform: uppercase;
        margin-right: 18px;
        letter-spacing: 0.2em;
        margin-top: 50px;
    }

    
.activeBtn{
    width:60px;
    border-radius: 30px;
    height: 60px;
    background: rgba(137, 205, 234, 1);
    border:0;
    color: white;
    font-size: 20px;
    font-family: 'TT Hazelnuts';
    font-weight: 900;
    margin-right: 20px;
    letter-spacing: 0.2em;
}

.unActiveBtn{
    width: 136px;
    height: 61px;
    border:2px solid rgba(137, 205, 234, 1);
    background: none;
    border-radius: 30px;
    color: rgba(137, 205, 234, 1);
    font-weight: 900;
    font-family: 'TT Hazelnuts';
    font-size: 20px;

}
}





@media  (max-width:414px) {
    
    .clean_buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
}




@media (max-width:320px) {
    
.lifehack_banner{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.lifehack_title{
    padding-top: 100px;
}

.lifehack_title h1{
    color:  #043480;
    font-size: 18px;
    font-family: 'TT Hazelnuts';
    font-weight: 900;
    letter-spacing: 0.2em;
    text-transform:uppercase;
}
}