@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-ExtraLight.eot');
    src: local('TT Hazelnuts ExtraLight'), local('TTHazelnuts-ExtraLight'),
        url('TTHazelnuts-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-ExtraLight.woff2') format('woff2'),
        url('TTHazelnuts-ExtraLight.woff') format('woff'),
        url('TTHazelnuts-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-BoldItalic.eot');
    src: local('TT Hazelnuts Bold Italic'), local('TTHazelnuts-BoldItalic'),
        url('TTHazelnuts-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-BoldItalic.woff2') format('woff2'),
        url('TTHazelnuts-BoldItalic.woff') format('woff'),
        url('TTHazelnuts-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-Regular.eot');
    src: local('TT Hazelnuts Regular'), local('TTHazelnuts-Regular'),
        url('TTHazelnuts-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-Regular.woff2') format('woff2'),
        url('TTHazelnuts-Regular.woff') format('woff'),
        url('TTHazelnuts-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-Italic.eot');
    src: local('TT Hazelnuts Italic'), local('TTHazelnuts-Italic'),
        url('TTHazelnuts-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-Italic.woff2') format('woff2'),
        url('TTHazelnuts-Italic.woff') format('woff'),
        url('TTHazelnuts-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-LightItalic.eot');
    src: local('TT Hazelnuts Light Italic'), local('TTHazelnuts-LightItalic'),
        url('TTHazelnuts-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-LightItalic.woff2') format('woff2'),
        url('TTHazelnuts-LightItalic.woff') format('woff'),
        url('TTHazelnuts-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-Light.eot');
    src: local('TT Hazelnuts Light'), local('TTHazelnuts-Light'),
        url('TTHazelnuts-Light.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-Light.woff2') format('woff2'),
        url('TTHazelnuts-Light.woff') format('woff'),
        url('TTHazelnuts-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-MediumItalic.eot');
    src: local('TT Hazelnuts Medium Italic'), local('TTHazelnuts-MediumItalic'),
        url('TTHazelnuts-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-MediumItalic.woff2') format('woff2'),
        url('TTHazelnuts-MediumItalic.woff') format('woff'),
        url('TTHazelnuts-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-ThinItalic.eot');
    src: local('TT Hazelnuts Thin Italic'), local('TTHazelnuts-ThinItalic'),
        url('TTHazelnuts-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-ThinItalic.woff2') format('woff2'),
        url('TTHazelnuts-ThinItalic.woff') format('woff'),
        url('TTHazelnuts-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-ExtraBold.eot');
    src: local('TT Hazelnuts ExtraBold'), local('TTHazelnuts-ExtraBold'),
        url('TTHazelnuts-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-ExtraBold.woff2') format('woff2'),
        url('TTHazelnuts-ExtraBold.woff') format('woff'),
        url('TTHazelnuts-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-ExtraLightItalic.eot');
    src: local('TT Hazelnuts ExtraLight Italic'), local('TTHazelnuts-ExtraLightItalic'),
        url('TTHazelnuts-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-ExtraLightItalic.woff2') format('woff2'),
        url('TTHazelnuts-ExtraLightItalic.woff') format('woff'),
        url('TTHazelnuts-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-Medium.eot');
    src: local('TT Hazelnuts Medium'), local('TTHazelnuts-Medium'),
        url('TTHazelnuts-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-Medium.woff2') format('woff2'),
        url('TTHazelnuts-Medium.woff') format('woff'),
        url('TTHazelnuts-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-HeavyItalic.eot');
    src: local('TT Hazelnuts Heavy Italic'), local('TTHazelnuts-HeavyItalic'),
        url('TTHazelnuts-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-HeavyItalic.woff2') format('woff2'),
        url('TTHazelnuts-HeavyItalic.woff') format('woff'),
        url('TTHazelnuts-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-Thin.eot');
    src: local('TT Hazelnuts Thin'), local('TTHazelnuts-Thin'),
        url('TTHazelnuts-Thin.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-Thin.woff2') format('woff2'),
        url('TTHazelnuts-Thin.woff') format('woff'),
        url('TTHazelnuts-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-Black.eot');
    src: local('TT Hazelnuts Black'), local('TTHazelnuts-Black'),
        url('TTHazelnuts-Black.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-Black.woff2') format('woff2'),
        url('TTHazelnuts-Black.woff') format('woff'),
        url('TTHazelnuts-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-Bold.eot');
    src: local('TT Hazelnuts Bold'), local('TTHazelnuts-Bold'),
        url('TTHazelnuts-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-Bold.woff2') format('woff2'),
        url('TTHazelnuts-Bold.woff') format('woff'),
        url('TTHazelnuts-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-ExtraBoldItalic.eot');
    src: local('TT Hazelnuts ExtraBold Italic'), local('TTHazelnuts-ExtraBoldItalic'),
        url('TTHazelnuts-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-ExtraBoldItalic.woff2') format('woff2'),
        url('TTHazelnuts-ExtraBoldItalic.woff') format('woff'),
        url('TTHazelnuts-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-BlackItalic.eot');
    src: local('TT Hazelnuts Black Italic'), local('TTHazelnuts-BlackItalic'),
        url('TTHazelnuts-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-BlackItalic.woff2') format('woff2'),
        url('TTHazelnuts-BlackItalic.woff') format('woff'),
        url('TTHazelnuts-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Hazelnuts';
    src: url('TTHazelnuts-Heavy.eot');
    src: local('TT Hazelnuts Heavy'), local('TTHazelnuts-Heavy'),
        url('TTHazelnuts-Heavy.eot?#iefix') format('embedded-opentype'),
        url('TTHazelnuts-Heavy.woff2') format('woff2'),
        url('TTHazelnuts-Heavy.woff') format('woff'),
        url('TTHazelnuts-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

