@import url('../../../assets/fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

.main_banner{
    height: 1200px;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #85CBE9 43.69%);
}

.main_content{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.main_inline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main_left h1{
    font-size: 52px;
    font-weight: 900;
    font-family: 'TT Hazelnuts';
    line-height: 70.46px;
    letter-spacing: 0.2em;
    width: 500px;
    font-style: normal;
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.main_right h1{
    font-size: 52px;
    font-weight: 900;
    font-family: 'TT Hazelnuts';
    line-height: 70px;
    letter-spacing: 0.2em;
    width: 438px;
    font-style: normal;
    text-align: center;
    color: white;
    text-transform: uppercase;
}






/* Main center */
.main_center_relative div{
    position: relative;
    height: 100vh;
    width: 100%;
}

.main_center_relative div img{
    position: absolute;
    top: 0;
}
.main_center_relative div img:nth-child(1){
    left:-450px;
    z-index: 10;
    width: 600px;
    height: 883px;
    animation: anim2 linear infinite 10s;

    top: 50px;
}

.main_center_relative div img:nth-child(2){
    width: 523px;
    top: 30px;
    height: 953px;
    animation: anim2 linear infinite 7s;

    right: -380px;
}





/* Bubbles */

.main_center_relative .bubble_first{
    position: absolute;
    left: 20%;
    width: 75px;
    z-index: 1;
    top: 30%;
    animation: anim linear infinite 5s;
}

@keyframes  anim {
    0%{
        transform: translateY(0%);
    }50%{
        transform: translateY(-40%);
    }
}

@keyframes  anim2 {
    0%{
        transform: translateY(0%);
    }50%{
        transform: translateY(-10%);
    }
}

.main_center_relative .bubble_second{
    position: absolute;
    left: 25%;
    animation: anim linear infinite 7s;

    width: 120px;
    z-index: 1;
    top: 30%;
}

.main_center_relative .bubble_third{
    position: absolute;
    left: 25%;
    width: 170px;
    z-index: 1;
    top: 40%;
    animation: anim linear infinite 8s;

}
.main_center_relative .bubble_fourth{
    position: absolute;
    left: 30%;
    width: 65px;
    animation: anim linear infinite 6s;

    bottom: 20%;
}




/* RIght bubble */



.main_center_relative .bubble_five{
    position: absolute;
    right: 18%;
    width:80px;
    animation: anim linear infinite 9s;

    top: 28%;
}
.main_center_relative .bubble_six{
    position: absolute;
    animation: anim linear infinite 10s;
    
    right: 22%;
    width:70px;
    top: 34%;
}

.main_center_relative .bubble_seven{
    position: absolute;
    right: 24%;
    animation: anim linear infinite 11s;

    width: 170px;
    top: 40%;
}

.main_center_relative .bubble_eight{
    position: absolute;
    right: 25%;
    width: 110px;
    bottom: 10%;
    animation: anim linear infinite 12s;

}

.main_frame{
    position: absolute;
    right: 10%;
    bottom: -7%;
    width: 250px;
}




/* right line */

.main_center_relative::before{
    content: '';
    position: absolute;
    width: 3px;
    height: 133px;
    background: #043480;
    right: 2%;
    top: 55%;
}

.main_instagram{
    right: 1.3%;
    bottom: 22%;
    width: 30px;
    position: absolute;
}


.main_wave{
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: -65%;
    left: 0;
}




























/* LAPTOP */

@media  (max-width:1446px) {
    .main_banner{
        height:800px;
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #85CBE9 43.69%);
        margin-bottom: 0px;
    }
    
    .main_content{
        width: 98%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
    }
    


    .main_left h1{
        font-size: 38px;
        font-weight: 800;
        font-family: 'TT Hazelnuts';
        line-height: 46.46px;
        letter-spacing: 0.2em;
        width: 500px;
        font-style: normal;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    .main_right h1{
        font-size: 38px;
        font-weight: 800;
        font-family: 'TT Hazelnuts';
        line-height: 46px;
        letter-spacing: 0.2em;
        width: 438px;
        font-style: normal;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }

    .main_center_relative div img:nth-child(1){
        left:-280px;
        z-index: 10;
        width: 413px;
        height: 583px;
        top: 50px;
    }
    
    .main_center_relative div img:nth-child(2){
        width: 343px;
        top: 30px;
        height: 623px;
        right: -250px;
    }






    .main_center_relative .bubble_first{
        position: absolute;
        left: 20%;
        width: 40px;
        top: 30%;
    }
    .main_center_relative .bubble_second{
        position: absolute;
        left: 25%;
        width: 80px;
        top: 30%;
    }
    
    .main_center_relative .bubble_third{
        position: absolute;
        left: 25%;
        width: 120px;
        top: 40%;
    }
    .main_center_relative .bubble_fourth{
        position: absolute;
        left: 30%;
        width: 50px;
        bottom: 20%;
    }




    
.main_center_relative .bubble_five{
    position: absolute;
    right: 18%;
    width:60px;
    top: 28%;
}
.main_center_relative .bubble_six{
    position: absolute;
    right: 22%;
    width:40px;
    top: 34%;
}

.main_center_relative .bubble_seven{
    position: absolute;
    right: 24%;
    width: 120px;
    top: 40%;
}

.main_center_relative .bubble_eight{
    position: absolute;
    right: 25%;
    width: 90px;
    bottom: 10%;
}

.main_frame{
    position: absolute;
    right: 10%;
    bottom: -10%;
    width: 160px;
}



.main_center_relative::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 93px;
    background: #043480;
    right: 2%;
    top: 55%;
}

.main_instagram{
    right: 1.3%;
    bottom: 22%;
    width: 20px;
    position: absolute;
}
.main_wave{
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -68%;
    left: 0;
}



}






@media  only screen and (max-width:1200px) {
    .main_left h1{
        font-size: 32px;
    }
    .main_right h1{
        font-size: 32px;
        width: 308px;
    }

    .main_center_relative div img:nth-child(1){
        left:-260px;
        z-index: 10;
        width: 300px;
        height: 483px;
        animation: anim2 linear infinite 10s;
        object-fit: cover;
        top: 80px;
    }
    
    .main_center_relative div img:nth-child(2){
        width: 283px;
        top: 80px;
        height: 453px;
        object-fit: cover;
        animation: anim2 linear infinite 7s;
    
        right: -180px;
    }
    
    .main_banner{
        height:700px;
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #85CBE9 43.69%);
    }

            
    .main_center_relative .bubble_five{
        position: absolute;
        right: 18%;
        width:60px;
        top: 28%;
    }
    .main_center_relative .bubble_six{
        position: absolute;
        right: 22%;
        width:40px;
        top: 34%;
    }

    .main_center_relative .bubble_seven{
        position: absolute;
        right: 20%;
        width: 100px;
        top: 40%;
    }

    .main_center_relative .bubble_eight{
        position: absolute;
        right: 23%;
        width: 90px;
        bottom: 5%;
    }







    
    .main_center_relative .bubble_first{
        position: absolute;
        left: 20%;
        width: 40px;
        top: 30%;
    }
    .main_center_relative .bubble_second{
        position: absolute;
        left: 25%;
        width: 80px;
        top: 32%;
    }
    
    .main_center_relative .bubble_third{
        position: absolute;
        left: 30%;
        width: 100px;
        top: 40%;
    }
    .main_center_relative .bubble_fourth{
        position: absolute;
        left: 33%;
        width: 50px;
        bottom: 20%;
    }

    .main_frame{
        position: absolute;
        right: 10%;
        bottom: -20%;
        width: 160px;
    }
    
    
        
    .main_center_relative::before{
        content: '';
        position: absolute;
        width: 3px;
        height: 83px;
        background: #043480;
        right: 2%;
        top: 55%;
    }

    .main_instagram{
        right: 1.3%;
        bottom: 18%;
        width: 20px;
        position: absolute;
    }
    .main_wave{
        position: absolute;
        width: 100%;
        height: 70%;
        bottom: -80%;
        left: 0;
    }
}







@media  only screen and (max-width:1000px) {
    .main_left{
        transform: translateX(-50px);
    }

    .main_left h1{
        font-size: 25px;
        width: 400px;
        line-height: 38px;
    }
    .main_right h1{
        font-size: 25px;
        width: 250px;
        line-height: 38px;
    }

    .main_center_relative div img:nth-child(1){
        left:-250px;
        z-index: 10;
        width: 280px;
        height: 433px;
        animation: unset;
        object-fit: cover;
        top: 80px;
    }
    
    .main_center_relative div img:nth-child(2){
        width: 253px;
        top: 80px;
        height: 403px;
        object-fit: cover;
        animation: unset ;
    
        right: -150px;
    }
    
    
    .main_center_relative .bubble_first{
        position: absolute;
        left: 20%;
        width: 40px;
        animation: unset;
        top: 30%;
    }
    .main_center_relative .bubble_second{
        position: absolute;
        left: 25%;
        width: 70px;
        animation: unset;

        top: 32%;
    }
    
    .main_center_relative .bubble_third{

        animation: unset;
        position: absolute;
        left: 25%;
        width: 100px;
        top: 40%;
    }
    .main_center_relative .bubble_fourth{

        animation: unset;
        position: absolute;
        left: 25%;
        width: 50px;
        bottom: 20%;
    }

    
            
    .main_center_relative .bubble_five{
        position: absolute;
        right: 18%;
        animation: unset;
        width:40px;
        top: 28%;
    }
    .main_center_relative .bubble_six{
        position: absolute;
        animation: unset;
        right: 22%;
        width:40px;
        top: 34%;
    }

    .main_center_relative .bubble_seven{
        position: absolute;
        animation: unset;
        right: 20%;
        width: 100px;
        top: 40%;
    }

    .main_center_relative .bubble_eight{
        position: absolute;
        right: 23%;
        animation: unset;
        width: 90px;
        bottom: 5%;
    }



}




@media screen and   (max-width:1024px)  and (max-height:1366px) {
   
  
    .main_inline{
        display: flex;
        justify-content: unset;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        text-align: center ;
    }
    .main_left{
        order: 1;
    }

    .main_center{
        order: 3;
    }
    .main_right{
        order: 2;
    }




    
.main_left h1{
    font-size: 28px;
    font-weight: 900;
    font-family: 'TT Hazelnuts';
    line-height: 20px;
    letter-spacing: 0.2em;
    width:100%;
    font-style: normal;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.main_left{
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.main_right h1{
    font-size: 28px;
    font-weight: 900;
    font-family: 'TT Hazelnuts';
    line-height:0px;
    letter-spacing: 0.2em;
    width: 100%;
    font-style: normal;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.main_banner{
    height: 1200px;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #85CBE9 17.33%);
}


.main_center_relative::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    display: none;
    
}

.main_instagram{
    right: 2.2%;
    bottom: 20%;
    display: none;
    position: absolute;
}




.main_center_relative div img:nth-child(1){
    left:-330px;
    z-index: 10;
    width: 450px;
    height: 644px;
    object-fit: cover;
    top: 0px;
    animation: unset;

}

.main_center_relative div img:nth-child(2){
    width: 391px;
    top: 30px;
    height: 544px;
    object-fit: cover;
    right: -310px;
    animation: unset;
}




.main_center_relative .bubble_first{
    position: absolute;
    left: 5%;
    width: 40px;
    animation: unset;

    top: 27%;
}
.main_center_relative .bubble_second{
    position: absolute;
    left: 11%;
    width: 90px;
    top: 27%;
    animation: unset;
}

.main_center_relative .bubble_third{
    position: absolute;
    left: 5%;
    width: 140px;
    animation: unset;
    
    top: 35%;
}
.main_center_relative .bubble_fourth{
    position: absolute;
    left: 8%;
    width: 50px;
    animation: unset;
    bottom: 40%;
}














    
.main_center_relative .bubble_five{
    position: absolute;
    right: 5%;
    animation: unset;

    width:50px;
    top: 23%;
}
.main_center_relative .bubble_six{
    position: absolute;
    right: 12%;
    animation: unset;

    width:40px;
    top: 25%;
}

.main_center_relative .bubble_seven{
    position: absolute;
    right: 10%;
    width: 130px;
    animation: unset;

    top: 35%;
}

.main_center_relative .bubble_eight{
    position: absolute;
    right: 15%;
    width: 90px;
    bottom: 35%;
}

.main_frame{
    position: absolute;
    right: 20%;
    bottom: 25%;
    object-fit: cover;
    width: 205px;
}



.main_wave{
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -20%;
    left: 0;
}



}







@media  (max-width:768px) {
   
  
    .main_inline{
        display: flex;
        justify-content: unset;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 50vh;
        text-align: center ;
    }
    .main_left{
        order: 1;
    }

    .main_center{
        order: 3;
    }
    .main_right{
        order: 2;
    }




    
.main_left h1{
    font-size: 28px;
    font-weight: 900;
    font-family: 'TT Hazelnuts';
    line-height: 20px;
    letter-spacing: 0.2em;
    width:100%;
    font-style: normal;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.main_left{
    width: 85%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.main_right h1{
    font-size: 28px;
    font-weight: 900;
    font-family: 'TT Hazelnuts';
    line-height:0px;
    letter-spacing: 0.2em;
    width: 100%;
    font-style: normal;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.main_banner{
    height: 950px;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #85CBE9 17.33%);
}


.main_center_relative::before{
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    display: none;
    
}

.main_instagram{
    right: 2.2%;
    bottom: 20%;
    display: none;
    position: absolute;
}




.main_center_relative div img:nth-child(1){
    left:-250px;
    z-index: 10;
    width: 350px;
    height: 504px;
    top: 50px;
}

.main_center_relative div img:nth-child(2){
    width: 291px;
    top: 30px;
    height: 544px;
    right: -220px;
}




.main_center_relative .bubble_first{
    position: absolute;
    left: 5%;
    width: 40px;
    top: 37%;
}
.main_center_relative .bubble_second{
    position: absolute;
    left: 11%;
    width: 80px;
    top: 37%;
}

.main_center_relative .bubble_third{
    position: absolute;
    left: 5%;
    width: 120px;
    top: 45%;
}
.main_center_relative .bubble_fourth{
    position: absolute;
    left: 8%;
    width: 50px;
    bottom: 30%;
}














    
.main_center_relative .bubble_five{
    position: absolute;
    right: 5%;
    width:50px;
    top: 28%;
}
.main_center_relative .bubble_six{
    position: absolute;
    right: 12%;
    width:40px;
    top: 34%;
}

.main_center_relative .bubble_seven{
    position: absolute;
    right: 15%;
    width: 100px;
    top: 40%;
}

.main_center_relative .bubble_eight{
    position: absolute;
    right: 15%;
    width: 70px;
    bottom: 30%;
}

.main_frame{
    position: absolute;
    right: 20%;
    bottom: 18%;
    width: 115px;
}



.main_wave{
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -35%;
    left: 0;
}



}



























@media  (max-width:495px) {
    
    .main_banner{
        height: 110vh;
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #85CBE9 17.33%);
    }


    .main_inline{
        display: flex;
        justify-content: unset;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 70vh;
    }


    .main_left h1{
        font-size: 20px;
        font-weight: 900;
        font-family: 'TT Hazelnuts';
        line-height: 20px;
        letter-spacing: 0.2em;
        width: 100%;
        font-style: normal;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }

    .main_right h1{
        font-size: 20px;
        font-weight: 900;
        font-family: 'TT Hazelnuts';
        line-height:0px;
        letter-spacing: 0.2em;
        width: 100%;
        font-style: normal;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }



    
.main_center_relative div img:nth-child(1){
    left:-190px;
    z-index: 10;
    width: 300px;
    height: 404px;
    top: 50px;
}

.main_center_relative div img:nth-child(2){
    width: 251px;
    top: 30px;
    height: 444px;
    right: -200px;
}

    
    .main_center_relative .bubble_first{
        position: absolute;
        left: 5%;
        width: 40px;
        top: 37%;
    }
    .main_center_relative .bubble_second{
        position: absolute;
        left: 7%;
        width: 60px;
        top: 44%;
    }

    .main_center_relative .bubble_third{
        position: absolute;
        left: 7%;
        width: 80px;
        top: 53%;
    }
    .main_center_relative .bubble_fourth{
        position: absolute;
        left: 8%;
        width: 50px;
        bottom: 20%;
    }

    
    
.main_center_relative .bubble_five{
    position: absolute;
    right: 2%;
    width:40px;
    top: 45%;
}
.main_center_relative .bubble_six{
    position: absolute;
    right: 9%;
    width:30px;
    top: 49%;
}

.main_center_relative .bubble_seven{
    position: absolute;
    right: 5%;
    width: 60px;
    top: 59%;
}

.main_center_relative .bubble_eight{
    position: absolute;
    right: 15%;
    width: 70px;
    display: none;
    bottom: 14%;
}




.main_frame{
    position: absolute;
    right: 10%;
    bottom: 10%;
    width: 115px;
}



.main_wave{
    position: absolute;
    width: 100%;
    height: 110%;
    bottom: -75%;
    object-fit: cover;
    left: 0;
}


}












@media  (max-width:425px) {
      
    .main_banner{
        height: 100vh;
        width: 100%;
        
    }


    .main_inline{
        display: flex;
        justify-content: unset;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 70vh;
    }


    .main_left h1{
        font-size: 20px;
        font-weight: 900;
        font-family: 'TT Hazelnuts';
        line-height: 26px;
        letter-spacing: 0.2em;
        width: 100%;
        font-style: normal;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    .main_left{
        width: 75%;
    }
    .main_right h1{
        font-size: 20px;
        font-weight: 900;
        font-family: 'TT Hazelnuts';
        line-height:0px;
        letter-spacing: 0.2em;
        width: 100%;
        margin-top: -2px;
        font-style: normal;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }




    .main_center_relative div img:nth-child(1){
        left:-130px;
        z-index: 10;
        width: 200px;
        height: 354px;
        object-fit: cover;
        top: 50px;
    }

    .main_center_relative div img:nth-child(2){
        width: 160px;
        top: 30px;
        height: 390px;
        object-fit: cover;
        right: -140px;
    }





        
    .main_center_relative .bubble_first{
        position: absolute;
        left: 5%;
        width: 30px;
        top: 37%;
    }
    .main_center_relative .bubble_second{
        position: absolute;
        left: 7%;
        width: 40px;
        top: 44%;
    }

    .main_center_relative .bubble_third{
        position: absolute;
        left: 7%;
        width:70px;
        top: 53%;
    }
    .main_center_relative .bubble_fourth{
        position: absolute;
        left: 8%;
        width: 40px;
        bottom: 20%;
    }



     
    
.main_center_relative .bubble_five{
    position: absolute;
    right: 2%;
    width:30px;
    top: 45%;
}
.main_center_relative .bubble_six{
    position: absolute;
    right: 6%;
    width:30px;
    top: 49%;
}

.main_center_relative .bubble_seven{
    position: absolute;
    right: 0%;
    width: 60px;
    top: 59%;
}

.main_center_relative .bubble_eight{
    position: absolute;
    right: 15%;
    width: 70px;
    display: none;
    bottom: 14%;
}

.main_wave{
    position: absolute;
    width: 100%;
    height: 110%;
    bottom: -70%;
    object-fit: cover;
    left: 0;
}

}   














@media  (max-width:414px) {
    
.main_frame{
    position: absolute;
    right: 5%;
    bottom: 30%;
    width: 115px;
}

.main_center_relative div img:nth-child(1){
    left:-150px;
    z-index: 10;
    width: 200px;
    height: 354px;
    object-fit: cover;
    top: 50px;
}

.main_center_relative div img:nth-child(2){
    width: 160px;
    top: 30px;
    height: 390px;
    object-fit: cover;
    right: -140px;
}
   
.main_center_relative .bubble_first{
    position: absolute;
    left: 5%;
    width: 30px;
    top: 25%;
}
.main_center_relative .bubble_second{
    position: absolute;
    left: 7%;
    width: 40px;
    top: 34%;
}

.main_center_relative .bubble_third{
    position: absolute;
    left: 7%;
    width:70px;
    top: 43%;
}
.main_center_relative .bubble_fourth{
    position: absolute;
    left: 8%;
    width: 40px;
    bottom: 30%;
}



 

.main_center_relative .bubble_five{
position: absolute;
right: 2%;
width:30px;
top: 35%;
}
.main_center_relative .bubble_six{
position: absolute;
right: 6%;
width:30px;
top: 39%;
}

.main_center_relative .bubble_seven{
position: absolute;
right: 0%;
width: 60px;
top: 49%;
}

.main_center_relative .bubble_eight{
position: absolute;
right: 15%;
width: 70px;
display: none;
bottom: 14%;
}
.main_banner{
    height: 80vh;
    width: 100%;
    
}

.main_wave{
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: -32%;
    left: 0;
} 

.main_inline{
    display: flex;
    justify-content: unset;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
}
}






@media screen and  (max-width:414px) and (max-height:736px) {

    .main_frame{
        position: absolute;
        right: 5%1;
        bottom: 20%;
        width: 115px;
    }
    
    .main_center_relative div img:nth-child(1){
        left:-150px;
        z-index: 10;
        width: 200px;
        height: 354px;
        object-fit: cover;
        top: 50px;
    }
    
    .main_center_relative div img:nth-child(2){
        width: 160px;
        top: 30px;
        height: 390px;
        object-fit: cover;
        right: -140px;
    }
       
    .main_center_relative .bubble_first{
        position: absolute;
        left: 5%;
        width: 30px;
        top: 25%;
    }
    .main_center_relative .bubble_second{
        position: absolute;
        left:5%;
        width: 40px;
        top: 34%;
    }
    
    .main_center_relative .bubble_third{
        position: absolute;
        left: 4%;
        width:70px;
        top: 43%;
    }
    .main_center_relative .bubble_fourth{
        position: absolute;
        left: 8%;
        width: 40px;
        bottom: 30%;
    }
    
    
    
     
    
    .main_center_relative .bubble_five{
    position: absolute;
    right: 2%;
    width:30px;
    top: 35%;
    }
    .main_center_relative .bubble_six{
    position: absolute;
    right: 6%;
    width:30px;
    top: 39%;
    }
    
    .main_center_relative .bubble_seven{
    position: absolute;
    right: 0%;
    width: 60px;
    top: 49%;
    }
    
    .main_center_relative .bubble_eight{
    position: absolute;
    right: 15%;
    width: 70px;
    display: none;
    bottom: 14%;
    }
    .main_banner{
        height: 90vh;
        width: 100%;
        
    }
    
    .main_wave{
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: -40%;
        left: 0;
    } 
    
    .main_inline{
        display: flex;
        justify-content: unset;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 60vh;
    }
    }
    






@media  (max-width:320px) {
    

    .main_center_relative div img:nth-child(1){
        left:-125px;
        z-index: 10;
        width: 180px;
        height: 294px;
        object-fit: cover;
        top: 50px;
    }

    .main_center_relative div img:nth-child(2){
        width: 140px;
        top: 30px;
        height: 310px;
        object-fit: cover;
        right: -120px;
    }


    

    .main_frame{
        position: absolute;
        right: 2%;
        bottom: 8%;
        width: 95px;
    }



    .main_wave{
        position: absolute;
        width: 100%;
        height: 110%;
        bottom: -72%;
        object-fit: cover;
        left: 0;
    }

    
    .main_center_relative .bubble_five{
        position: absolute;
        right: 1%;
        width:30px;
        top: 45%;
    }
    .main_center_relative .bubble_six{
        position: absolute;
        right: 5%;
        width:30px;
        top: 50%;
    }
    .main_center_relative .bubble_seven{
        position: absolute;
        right: 0%;
        width: 60px;
        top: 59%;
    }

      
    .main_center_relative .bubble_first{
        position: absolute;
        left: 2%;
        width: 30px;
        top: 37%;
    }
    .main_center_relative .bubble_second{
        position: absolute;
        left: 1%;
        width: 40px;
        top: 44%;
    }

    .main_center_relative .bubble_third{
        position: absolute;
        left: 2%;
        width:60px;
        top: 53%;
    }
    .main_center_relative .bubble_fourth{
        position: absolute;
        left: 8%;
        width: 40px;
        bottom: 20%;
    }

}   








@media (max-width:375px) {
    .main_frame{
        position: absolute;
        right: 10%;
        bottom: 25%;
        z-index: 10;
        width: 100px;
    }
            
    .main_banner{
        height: 700px;
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #85CBE9 43.69%);
    }

    .main_content{
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        margin: auto;
    }
    .main_wave{
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: -35%;
        left: 0;
    }            
     
.main_center_relative .bubble_first{
    position: absolute;
    left: 5%;
    width: 30px;
    top: 25%;
}
.main_center_relative .bubble_second{
    position: absolute;
    left: 3%;
    width: 40px;
    top: 34%;
}

.main_center_relative .bubble_third{
    position: absolute;
    left: 3%;
    width:70px;
    top: 43%;
}
.main_center_relative .bubble_fourth{
    position: absolute;
    left: 8%;
    width: 40px;
    bottom: 30%;
}



 

.main_center_relative .bubble_five{
position: absolute;
right: 2%;
width:30px;
top: 35%;
}
.main_center_relative .bubble_six{
position: absolute;
right: 6%;
width:30px;
top: 39%;
}

.main_center_relative .bubble_seven{
position: absolute;
right: 0%;
width: 60px;
top: 49%;
}

.main_center_relative .bubble_eight{
position: absolute;
right: 15%;
width: 70px;
display: none;
bottom: 14%;
}
}





@media screen and  (max-width:375px) and (max-height:667px) {
    .main_frame{
        position: absolute;
        right: 5%;
        bottom: 10%;
        z-index: 10;
        width: 100px;
    }
            
    .main_banner{
        height: 700px;
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #85CBE9 43.69%);
    }

    .main_content{
        width: 90%;
        height: 80%;
        display: flex;
        align-items: center;
        margin: auto;
    }
    .main_wave{
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: -55%;
        left: 0;
    }            
     
.main_center_relative .bubble_first{
    position: absolute;
    left: 5%;
    width: 30px;
    top: 25%;
}
.main_center_relative .bubble_second{
    position: absolute;
    left: 3%;
    width: 40px;
    top: 34%;
}

.main_center_relative .bubble_third{
    position: absolute;
    left: 3%;
    width:70px;
    top: 43%;
}
.main_center_relative .bubble_fourth{
    position: absolute;
    left: 8%;
    width: 40px;
    bottom: 30%;
}



 

.main_center_relative .bubble_five{
position: absolute;
right: 2%;
width:30px;
top: 35%;
}
.main_center_relative .bubble_six{
position: absolute;
right: 6%;
width:30px;
top: 39%;
}

.main_center_relative .bubble_seven{
position: absolute;
right: 0%;
width: 60px;
top: 49%;
}

.main_center_relative .bubble_eight{
position: absolute;
right: 15%;
width: 70px;
display: none;
bottom: 14%;
}
}






@media  (max-width:360px) {
    .main_frame{
        position: absolute;
        right: 5%;
        bottom: 5%;
        z-index: 10;
        width: 100px;
    }
            
    .main_banner{
        height: 650px;
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #85CBE9 43.69%);
    }
    .main_inline{
        height: 70%;
    }
    .main_content{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: auto;
    }
    .main_wave{
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: -52%;
        left: 0;
    }            
    
.main_center_relative .bubble_first{
    position: absolute;
    left: 5%;
    width: 30px;
    top: 35%;
}
.main_center_relative .bubble_second{
    position: absolute;
    left: 0%;
    width: 40px;
    top: 44%;
}


.main_center_relative .bubble_third{
    position: absolute;
    left: 0%;
    width:70px;
    top:53%;
}
.main_center_relative .bubble_fourth{
    position: absolute;
    left: 8%;
    width: 40px;
    bottom: 10%;
}



 

.main_center_relative .bubble_five{
position: absolute;
right: 2%;
width:30px;
top: 35%;
}
.main_center_relative .bubble_six{
position: absolute;
right: 6%;
width:30px;
top: 39%;
}

.main_center_relative .bubble_seven{
position: absolute;
right: -2%;
width: 60px;
top: 49%;
}

.main_center_relative .bubble_eight{
position: absolute;
right: 15%;
width: 70px;
display: none;
bottom: 14%;
}
}







@media  (max-width:320px) {
    .main_frame{
        position: absolute;
        right: 5%;
        bottom: 5%;
        z-index: 10;
        width: 90px;
    }
            
    .main_banner{
        height: 650px;
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #85CBE9 43.69%);
    }
    
    .main_left h1{
        font-size: 20px;
        font-weight: 900;
        font-family: 'TT Hazelnuts';
        line-height: 25px;
        letter-spacing: 0.2em;
        width:100%;
        font-style: normal;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
    
    .main_left{
        width: 68%;
        margin-left: auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .main_content{
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        margin: auto;
    }
    .main_wave{
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: -62%;
        left: 0;
    }
    .main_center_relative .bubble_first{
        position: absolute;
        left: 5%;
        width: 30px;
        top: 35%;
    }
    .main_center_relative .bubble_second{
        position: absolute;
        left: 2%;
        width: 40px;
        top: 44%;
    }
    
    
    .main_center_relative .bubble_third{
        position: absolute;
        left: 0%;
        width:70px;
        top:53%;
    }
    .main_center_relative .bubble_fourth{
        position: absolute;
        left: 8%;
        width: 40px;
        bottom: 10%;
    }
    

.main_center_relative .bubble_five{
    position: absolute;
    right: 2%;
    width:30px;
    top: 45%;
    }
    .main_center_relative .bubble_six{
    position: absolute;
    right: 6%;
    width:30px;
    top: 49%;
    }
    
    .main_center_relative .bubble_seven{
    position: absolute;
    right: 0%;
    width: 50px;
    top: 59%;
    }
    
}