@import url('../../../assets/fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');
.modal_background{
    background: rgba(4, 52, 128, 0.9);
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    z-index: 20;
    display: none;
}

.modal_background.activeModal{
    display: block;
} 

.modal_background span{
    position: absolute;
    color: white;
    font-size: 50px;
    right: 2%;
    top: 1%;
}


.modal_center{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
}

.modal_card{
    background: white;
    width: 570px;
    height: 90vh;
}

.modal_position{
    width: 80%;
    margin: auto;
    padding: 10px 0;
}
.modal_position div input{
    border: 0;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 2px solid #043480;
    color: #043480 !important;
    font-size: 14px;
    font-family: 'Montserrat';
    outline: 0;
    padding: 10px 10px;
    margin: 5px 0;
}
.modal_position .w-hun input{
    width: 95%;
    border: 0;
    font-weight: 400;
    border-bottom: 2px solid #043480;
    color: #043480 !important;
    font-size: 14px;
    font-family: 'Montserrat';
    outline: 0;
    padding: 10px 10px;
    margin: 5px 0;
}

::-webkit-input-placeholder{color:#89CDEA;
    ;}

    ::-webkit-keygen-select{color: #043480 !important;}
.input_inline{
    width: 99% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_inline select{
    padding: 10px 10px;
    width: 100px;
    border:0;
    color: #89CDEA;
    outline: 0;
    border-bottom: 2px solid #043480;
    background: none;
}

.input_inline input{
    width: 60% !important;
}


.input_inline2{
    width: 99% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_inline2 input{
    width: 40% !important;
}

.input_feed{
    margin-bottom: 20px;

}
.input_feed input{
    padding: 40px 10px !important;
    width: 95%;
}


.modal_check{
    display: flex;
}

.modal_сheck label{
    color: #043480;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    font-family: 'Montserrat';
}

.modal_btn{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

.modal_btn button{
    background: #89CDEA;
    width: 190px;
    font-weight: 900;
    border:0;
    height: 55px;
    font-size: 15px;
    font-family: 'TT Hazelnuts';
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.2em;
    border-radius: 110px;
}